* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/* Navbar Start */

.navbar{
    height: 80px;
    background-color: #144fcc;
    color: #fff;
    display: flex;
    align-items: center;

}


.nav-logo{
    height: 75px;
    width: 230px;
    display: flex;
}

.logo{
    background-image: url("Portfolio logo.png");
    background-color: #f9f9f9;
    background-size: cover;
    height: 75px;
    width: 230px;
}

.img{
    mix-blend-mode: multiply;
}

.nav {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-left: 600px; 
} 

.nav p {
    display: inline-block;
    padding: 10px 10px ;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid black;
}

/* navbar end */


/* HERO SECTION*/

.hero-section {
    height: 600px;
    background-color: #031540;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 12% 0;
}

.hero-content {
    max-width: 800px;
}

.hero-content h3 {
    font-size: 42px;
}

.hero-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.hero-content h2 {
    font-size: 50px;
    color: #00abf0;
}

/* ABOUT SECTION */

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: #031540
    
}

.about-content h2 {
    font-size: 42px;
    color: white;
}

.about-content h3 {
    font-size: 55px;
    color: #00abf0;
}

.about-content p {
    font-size: 20px;
    margin: 2em 0 3em;
    color: white;
}


/* SKILLS SECTION */

.skills-section {
    display: flex;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: #031540;
    color: white;
}

.skills-content h2 {
    font-size: 42px;
}

.skills-content p {
    font-size: 20px;
    margin: 2em 0 3em;
}


/* TASK SECTION */


.task-section {
    display: flex;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: #031540;
    color: white;
}

.task-content h2 {
    font-size: 42px;
}

.task-content h3 {
    margin: 2em 0 3em;
}

.task-content p {
    font-size: 20px;
    margin: 2em 0 3em;
}


/* EXPERIENCE SECTION */

.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: #031540;
    color: white;
}

.experience-content h2 {
    font-size: 42px;
}

.experience-content h3 {
    margin: 2em 0 3em;
}

.experience-content p {
    font-size: 20px;
    margin: 2em 0 3em;
}


/* CONTACT SECTION */

.contact-me {
    font-size: 1.5rem;
    height: 32px;
    text-align: center;
    margin: 40px 40px;
}

.contact-section {
    text-align: center;
}


.contact-info ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px; 
}

.contact-info li {
    margin: 0 20px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.contact-info a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.contact-info i {
    font-size: 24px;
    margin-right: 10px;
}

.form {
    width: 100%;
}

.form-input {
    width: 70%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 1rem;
    
}

textarea {
    height: 200px;
}

.form button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #144fcc;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    border: none;
    transition: all ease 0.3s;
}

.form button:hover {
    background-color: #333;
}


/* FOOTER PANNEL */

footer {
    margin-top: 100px;
}

.foot-panel {
    background-color: #144fcc;
    height: 90px;
    font-size: 0.7rem;
    text-align: center;
}

.copyright pre {
    font-size: 1rem;
    color: white;
}